<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        Hello!,
        <%= link_to "#{current_user.nickname}さん", user_path(current_user), class: :greeting__link%>
      </div>
    <% end %>
  </div>
  <div class="contents">
   <div class="first-view">
    <%= image_tag "IMG_0013.JPG", class: 'top-image' %>
   </div>
   <div class="upper-content">
    <h1 class="heading-name">ハムスターと長く楽しく暮らそう</h1>
      <ul class="messages">
        <li class="message">
          ハムスターは子どもから大人まで幅広い世代に、非常に人気のある動物です。ハムスターの１日は人間にとって１ヶ月にもなります。ハムスターの寿命はゴールデンで３年ドワーフで２年ほど。ハムスターと過ごす１日１日を大切に楽しく過ごすためにこの育成日記を使って、できるだけ多くのハムスターと飼い主さんとのきずなを深めるために使っていただけると嬉しいです。それではかわいいハムスターとの暮らしを始めましょう！</div>
        </li>
      </ul>
   </div>
   <div class="middle-content">
    <h1 class="heading-name">ハムスターのミリョク</h1>
      <ul class="ham-charm-list">
       <li>
         <%= image_tag "IMG_1358.jpg", class: "ham-image" %>
         <h2 class="ham-charm-title">表情が豊かです。</h2>
           <p class="ham-charm">
            小さな体のハムスターですが、<br>
            表情が豊かで、目、鼻、口、耳で<br>
            いろいろなことを表現しています。
          </p>
        </li>
        <li>
          <%= image_tag "IMG_1012.jpg", class: "ham-image" %>
          <h2 class="ham-charm-title">どこにでも入ります。</h2>
          <p class="ham-charm">
            狭い場所が大好きで、どこにでも<br>
            入ってしまいます。時には驚く<br>
            ような場所から出てくることも。
          </p>
        </li>
        <li>
          <%= image_tag 'IMG_1211.jpg', class: 'ham-image' %>
          <h2 class="ham-charm-title">食いしん坊です。</h2>
           <p class="ham-charm">
            食にはとても貧欲です！<br>
            たくさん動くから、エネルギーが<br>
            たくさん必要なんです。
           </p>
        </li>
      </ul>
   </div>
   <div class="middle-content">
      <ul class="ham-charm-list">
        <li>
          <%= image_tag 'IMG_0542.jpg', class: 'ham-image' %>
          <h2 class="ham-charm-title">よく寝ます。</h2>
          <p class="ham-charm">
            とにかくよく寝ます。ゲージを掃除<br>
            する時などで、狭い部屋に移動しても<br>
            すぐ寝ます。寝る子は育つんです。
          </p>
        </li>
        <li>
          <%= image_tag "IMG_0394.jpg", class: "ham-image" %>
          <h2 class="ham-charm-title">飼い主さんになつきます。</h2>
          <p class="ham-charm">
            慣れてくれば、飼い主さんの<br>
            手や体に乗ってきます。安心して<br>
            しばらく動かなくなることも。
          </p>
        </li>
        <li>
          <%= image_tag "IMG_0598.jpg", class: "ham-image" %>
          <h2 class="ham-charm-title">後ろ姿もキュートです。</h2>
          <p class="ham-charm">
            かわいいのは顔だけではありません。<br>
            ぼてっとした丸い背中やお尻が<br>
            とてもキュートです。
          </p>
        </li>
      </ul>
    </div>
    <h1 class="heading-name">育成日記投稿一覧</h1>
    <div class="card__wrapper">
        <%= render partial: 'diary', collection: @diaries %>
    </div>
  </div>
</main>
